<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Team Management</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<hr>
		<h2>Update</h2>

		<form action="#" th:action="@{/saveItem}" th:object="${item}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			Team Name<input type="text" th:field="*{name}"
				   placeholder="Team Name" class="form-control mb-4 col-4">

			Location<input type="text" th:field="*{location}"
				   placeholder="Location" class="form-control mb-4 col-4">

				<button type="submit" class="btn btn-outline-secondary"> Update</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Teams</a>
	</div>
</body>
</html>